*

.nav {
  max-width: 960px;
}

.main-content {
  max-width: 960px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #dddddd;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

#name {
  width: 100%;
}
#email {
  width: 100%;
}

#message {
  width: 100%;
}

h1 {
  background-color: #4aaaa5;
}